@import "@angular/material/prebuilt-themes/indigo-pink.css"; // Tema predefinido

// Define custom colors
$custom-body-color: #ebebeb;  // Background color
// $custom-text-color: #ffffff; // Define si es necesario

body {
  background-color: $custom-body-color;
  // color: $custom-text-color; // Descomenta si defines color de texto
}

.app-container {
  display: flex;
  height: calc(100vh - 48px); // Ajusta según la altura de tu header
  transition: all 0.3s ease;
}

.main-content {
  flex: 1;
  padding: 20px;
  transition: margin-left 0.3s ease;
}

/* Opcional: Ajustes para dispositivos móviles */
@media (max-width: 768px) {
  .app-container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    height: auto;
  }
}
