<div class="consulta-externa container">
  <h2>Listado Especialidades</h2>
  <table class="especialidades-table">
    <thead>
      <tr>
        <th>Especialidades</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let especialidad of especialidades">
        <td>{{ especialidad.nombre }}</td>
        <td class="button-cell">
          <!-- Cambia `especialidad.id` a `especialidad.idEspecialidad` -->
          <button mat-raised-button color="primary" class="seleccionar-button" (click)="verMedicos(especialidad.idEspecialidad)">
            Seleccionar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
